{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier",
    "plugin:sonarjs/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "complexity": [
      "error",
      6
    ],
    "sonarjs/cognitive-complexity": [
      "error",
      7
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "variable",
        "format": ["camelCase"],
        "leadingUnderscore": "forbid",
        "trailingUnderscore": "forbid"
      },
      {
        "selector": "function",
        "format": ["camelCase", "PascalCase"],
        "leadingUnderscore": "forbid",
        "trailingUnderscore": "forbid"
      }
    ],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": [
      0,
      {
        "selector": "ForOfStatement"
      }
    ]
  }
}
